.navbar{
    background-color: rgb(30,30,30);
    height:5rem;
    width:100vw;
    max-width: 75rem;
    margin : 0 auto;
    padding: 1rem 2rem;
    display:flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index:3 ;
}

.logo{
    object-fit: cover;
    height: 3rem;
    width: 4rem;
}

.portfoliomenuitem{
margin: 1rem;
cursor: pointer;
}

.portfoliomenuitem:hover{
    color: yellow;
    padding-bottom: 0.5rem ;
    border-bottom: 3px solid yellow;
}

.navbarbtn
{
    background-color: white;
    border:none;
    padding: 0.75rem 2rem;
    border-radius: 2rem;
    margin: 1rem 0;
}

.navbarbtnimg{
    object-fit:cover;
    height: 1rem;
    margin: 0rem 0.25rem;
}